body {
height: 100vh;

  text-align: center;
  background-color: #011F3F;
display: grid;
grid-template-rows: 300px 300px;
gap: 50px;
align-content: center;
place-items: center;
}

#overlay{
  position: absolute;
top: 0px;
left:0px;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0, 0, 0,.5);


}
#level-title,h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
z-index: 2;
  line-height: 5rem;
  color: #FEF2BF;
  padding:0 2rem;
}

.container {
padding:0 2rem;
display: flex;

  width: 50%;

}

.btn {
  margin:10px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
